<?xml version="1.0"?>
<config>
    <modules>
        <KBariotis_CouponOnSubscription>
            <version>0.1.0</version>
        </KBariotis_CouponOnSubscription>
    </modules>
    <global>
        <helpers>
            <coupononsubscription>
                <class>KBariotis_CouponOnSubscription_Helper</class>
            </coupononsubscription>
        </helpers>
        <models>
            <coupononsubscription>
                <class>KBariotis_CouponOnSubscription_Model</class>
            </coupononsubscription>
            <newsletter>
                <rewrite>
                    <subscriber>KBariotis_CouponOnSubscription_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
        <template>
            <email>
                <coupon_code_on_subscription>
                    <label>Coupon Code on Subscription</label>
                    <file>coupon_code_on_subscription.html</file>
                    <type>html</type>
                </coupon_code_on_subscription>
            </email>
        </template>
    </global>
</config> 